<div class="container py-2">
    <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-md-3 d-flex align-items-center">
            <div class="logo text-primary">
                <a href=""><img src="~/img/logo.png"></a>
            </div>
        </div>

        <!-- Search -->
        <div class="col-md-4">
            <div class="input-group search-box">
                <input type="text" class="form-control search-input" placeholder="Gõ từ khóa tìm kiếm...">
                <div class="input-group-append">
                    <button class="btn search-icon" type="button">
                        <i class="fas fa-search text-danger"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Phone -->
        <div class="col-md-2 text-center">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fas fa-phone-alt text-danger mr-2"></i>
                <div>
                    <div>Mua hàng Online</div>
                    <strong>1900.636.648</strong>
                </div>
            </div>
        </div>

        <!-- Login / Cart -->
        <div class="col-md-3 d-flex justify-content-end">
            <a href="">
                <div class="icon-btn">
                    <i class="fas fa-user"></i> ĐĂNG NHẬP / ĐĂNG KÝ
                </div>
            </a>
            <a href="">
                <div class="icon-btn">
                    <i class="fas fa-shopping-bag"></i> GIỎ HÀNG / 0 đ
                </div>
            </a>
        </div>
    </div>
</div>
